@import 'tailwindcss';
@import '@fontsource/poppins';

@variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: 'Poppins', var(--font-sans);
  --color-primary: var(--color-cyan-700);
  --color-primary-hover: var(--color-cyan-800);
  --color-primary-focus: var(--color-cyan-500);
}

@layer base {
  :root {
    @apply text-gray-900 dark:text-gray-50;
  }
}
